{{#if submitted}}
  <li userID="{{user}}">
    {{#if isPrivate}}
      (private reflection)
    {{else}}
      <a href="/reflection/{{_id}}">{{title}}</a>
    {{/if}}
    
    -- Submitted by
    <a href="/user/{{user}}" id="{{_id}}_name">username</a>
    (<span id="{{_id}}_submissionTime">
      {{submissionTime}}
    </span>)
  </li>
{{/if}}


<script type="text/javascript">
  $(document).ready(function() {
      if ({{submitted}}) {
      var d = new Date("{{submissionTime}}");
      $("#{{_id}}_submissionTime").html(
        d.getMonth() + "/" + d.getDate() + "/" + d.getFullYear()
      );
    }

    $.get("userByGoogleID", {googleID: "{{user}}" }, function(user) {
      $("#{{_id}}_name").text(user.displayname);
    });
  });

</script>